<div class="flex align-items-center m-2">
    <p-checkbox label="developer" name="role" value="developer" [(ngModel)]="role"></p-checkbox>
</div>
<div class="flex align-items-center m-2">
    <p-checkbox label="testing" name="role" value="testing" [(ngModel)]="role"></p-checkbox>
</div>
<div class="flex align-items-center m-2">
    <p-checkbox label="HR" name="role" value="HR" [(ngModel)]="role"></p-checkbox>
</div>
<div class="flex align-items-center m-2">
    <p-checkbox label="manager" name="role" value="manager" [(ngModel)]="role"></p-checkbox>
</div>